<launch>
  <param name="use_sim_time" value="false"/>
  <!-- 라인트래커 파라미터 -->
  <rosparam file="$(find blindcan_bot)/config/tracker.yaml" command="load"/>

  <node pkg="line_follower" type="motor_node.py" name="motor_node" output="screen"/>
  <node pkg="line_follower" type="servo_node.py" name="servo_node" output="screen"/>
  <node pkg="line_follower" type="line_tracker_node.py" name="line_tracker" output="screen"/>
  <node pkg="line_follower" type="voice_node.py" name="voice_node" output="screen"/>
  <node pkg="line_follower" type="state_node.py" name="state_node" output="screen"/>
</launch>

